<template>
  <div>
    <b-container>
      <b-row class="justify-content-md-center mt-4">
        <b-col col md="8">
          <b-card
            header="Atualização de Estudante"
            header-bg-variant="primary"
            bg-variant="dark"
            text-variant="white"
          >
            <b-form-group
              id="input-group-1"
              label="Endereço de email do aluno:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="student.email"
                type="email"
                required
                placeholder="Digite email"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Nome do aluno:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="student.name"
                type="text"
                required
                placeholder="Digite nome"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-3"
              label="Telefone do aluno:"
              label-for="input-3"
            >
              <b-form-input
                id="input-3"
                v-model="student.phone"
                type="text"
                required
                placeholder="Digite telefone"
              ></b-form-input>
            </b-form-group>

            <b-button class="btn-submit" variant="primary" @click="onUpdate"
              >Atualizar</b-button
            >
            <b-button variant="danger" @click="onRemove"
              >Excluir</b-button
            >
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import api from "../services/api";
export default {
  name: "EditStudent",
  data() {
    return {
      student: {
        name: "",
        email: "",
        phone: "",
      },
    };
  },
  created() {
    this.getStudentInfo();
  },
  methods: {
    async getStudentInfo() {
      await api.get(`students/${this.$route.params.id}`).then((response) => {
        const { data } = response;
        this.student = data;
      });
    },
    async onRemove() {
        await api.delete(`/students/${this.$route.params.id}`).then(() => {
            alert('Estudante deletado com sucesso!!!')
            this.$router.push('/students')
        })
        .catch(() => alert('Erro ao deletar estudante'))
    },
    async onUpdate(){
        await api.put(`/students/${this.$route.params.id}`, this.student).then(() => {
            alert('Estudante atualizado com sucesso!!!')
            this.$router.push('/students')
        })
        .catch(() => alert('Erro ao atualizar estudante'))
    }
  },
};
</script>
<style>
</style>