<template>
  <div>
    <b-container>
      <b-row class="justify-content-md-center mt-4">
        <b-col col md="8">
          <b-card
            header="Lista de Estudantes"
            header-bg-variant="primary"
            bg-variant="white"
            text-variant="white"
          >
            <b-table
              bordered
              responsive
              striped
              hover
              dark
              :items="items"
            ></b-table>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import api from "../services/api";

export default {
  name: "ListStudents",
  data() {
    return {
      items: [],
    };
  },
  props: {
    listItem: {
      type: Array,
    },
  },
  mounted() {
    this.getStudents();
  },
  methods: {
    async getStudents() {
      await api.get("students").then((response) => {
        const { data } = response;
        this.items = data;
      });
    },
  },
  components: {},
};
</script>
<style>
</style>