<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-brand to="/">Registro de Estudantes</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/students">Listar Alunos</b-nav-item>
          <b-nav-item to="/searchStudent">Buscar Aluno</b-nav-item>
          <b-nav-item to="/registerStudent">Cadastrar Aluno</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="content"></div>
  </div>
</template>
<script>
export default {
  name: "Navbar",
};
</script>
<style></style>