<template>
  <div>
    <b-container>
      <b-row class="justify-content-md-center mt-4">
        <b-col col md="8">
          <b-card
            header="Registro de Estudantes"
            header-bg-variant="primary"
            bg-variant="dark"
            text-variant="white"
          >
            <b-form-group
              id="input-group-1"
              label="Endereço de email do aluno:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="email"
                type="email"
                required
                placeholder="Digite email"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Nome do aluno:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="name"
                type="text"
                required
                placeholder="Digite nome"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-3"
              label="Telefone do aluno:"
              label-for="input-3"
            >
              <b-form-input
                id="input-3"
                v-model="phone"
                type="text"
                required
                placeholder="Digite telefone"
              ></b-form-input>
            </b-form-group>

            <b-button class="btn-submit" type="submit" variant="primary" @click="onSubmit"
              >Registrar</b-button
            >
            <b-button type="reset" variant="danger" @click="onReset"
              >Limpar</b-button
            >
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import api from "../services/api";

export default {
  name: "RegisterStudent",
  data() {
    return {
      name: "",
      email: "",
      phone: "",
    };
  },
  components: {},
  methods: {
    onReset() {
      this.name = "";
      this.email = "";
      this.phone = "";
    },
    async onSubmit() {
      await api
        .post("students", {
          name: this.name,
          email: this.email,
          phone: this.phone,
        })
        .then(() => {
          alert("Aluno cadastrado com sucesso!!!")
          this.$router.push('/students')
        })
        .catch(() => alert('Ocorreu um erro ao cadastrar'));

      //this.onReset();
    },
  },
};
</script>
<style>
.btn-submit {
  margin-right: 10px;
}
</style>