<template>
  <div>
    <b-container>
      <b-row class="justify-content-md-center mt-4">
        <b-col col md="8">
          <b-card
            header="Procurar Esudante"
            header-bg-variant="primary"
            bg-variant="dark"
            text-variant="white"
          >
            <b-form-group
              id="input-group-1"
              label="Endereço de email do aluno:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="email"
                type="email"
                required
                placeholder="Digite email"
              ></b-form-input>
            </b-form-group>
            <b-button variant="primary" @click="onSearch">Procurar</b-button>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import api from '../services/api'
export default {
  name: "SearchStudent",
  data(){
      return {
          email: "",
          student: {},
      }
  },
  methods: {
      async onSearch(){
        if(this.email === ''){
          alert('Digite um email válido')
        }else{
          await api.get("students").then(response => {
              const {data} = response
              this.student = data.find(student => student.email === this.email)
          })
          if(this.student){
            this.$router.push(`/editStudent/${this.student.id}`)
          }else {
            alert('Estudante não encontrado')
          } 
        } 
      }
  }
};
</script>
<style></style>